<?xml version="1.0"?>
<model>
  <name>apple_trellis</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Minh Quan Vu</name>
    <email>quanvu0604@gmail.com</email>
  </author>
  <description>
    Apples trellis model modified from https://www.turbosquid.com/3d-models/3d-ivy-wall-model-1459511
  </description>
</model>
